{% extends "ownership/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.operator.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <h4><a class="mr-2">{{ object.name }}</a></h4>
                <small class="text-muted">{{ object.phone_number }}</small>
                <a href="{% url 'user-lands' object.operator.username %}" class="text-muted">By {{ object.operator }}</a>
                {% if object.operator == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'land-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'land-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h5><a class="article-title">{{ object.residential_address }}, {{ object.landmark}}</a></h5>

            <p class="article-content">Point 1(x,y):
                <small class="text-info">{{ object.X1_point }}, {{ object.Y1_point }}</small>
            </p>
            
            <p class="article-content">Point 2(x,y):
                <small class="text-info">{{ object.X2_point }}, {{ object.Y2_point }}</small>
            </p>

            <p class="article-content">Point 3(x,y):
                <small class="text-info">{{ object.X3_point }}, {{ object.Y3_point }}</small>
            </p>

            <p class="article-content">Point 4(x,y):
                <small class="text-info">{{ object.X4_point }}, {{ object.Y4_point }}</small>
            </p>
        </div>
    </article>
{% endblock content %}
